.container {
  position: relative;
  min-height: 600px;
  margin-top: 60px;
  border: 1px dotted gray;
}

.block {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 25px;
  width: 25px;
  border: 1px solid blue;
  z-index: 10;
}

#visualization {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}